*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

main > * {
    display: grid;
    justify-items: center;
    padding: 2rem 0;
}
  .shadow__box{	
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  }

  a{
      text-decoration: none;
      color: #fff;
  }

